*.tfstate
*.tfstate.backup
.terraform/
*.tfplan
crash.log

# Ignore variable definition files, which often contain secrets.
# IMPORTANT: If you create a .tfvars file for secrets, 
# create an untracked .tfvars.example file instead.
*.tfvars
*.tfvars.json