# Node service
node_modules/

# environment
.env

# logs
logs/
*.log
npm-debug.log*

# build / dist
/dist/
/build/

# OS / editor
.DS_Store
.vscode/
.idea/

# keys / certs
*.pem
*.key

# lockfiles (optional)
# package-lock.json
# yarn.lock
